footer{
    position: relative;
    bottom: 0px;
    background-color: white;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}
footer p{
    height: 60px;
    line-height: 60px;
    margin: 0px;
}